.gallery {
  &.gallery-page {
    .gallery__item img {
      max-height: 1163px;
    }

    .gallery__item:nth-child(8) {
      grid-column: span 2;
      grid-row: span 2;

      @media screen and (max-width: 540px) {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}