.rightside-menu {
  --animation-duration: 800ms;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  padding: 40px;
  width: 100%;
  height: 100vh;
  max-width: 694px;
  background-color: var(--color-white);
  opacity: 0;
  transform: translateX(100%);

  &__close {
    margin-bottom: 60px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    &-icon {
      width: 26px;
      height: 26px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 485px;
  }

  &__logo {
    margin-bottom: 40px;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 17px;
    padding-bottom: 17px;
    font: var(--font-title);
    color: var(--color-heading);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 1px;
      max-width: 252px;
      background-color: #6d7278;
    }
  }

  &__text {
    margin-bottom: 75px;
  }

  &__img {
    max-width: 485px;
  }

  &--active {
    display: block;
    animation: fadeIn var(--animation-duration) ease-in-out forwards;
  }

  &--fadeOut {
    animation: fadeOut var(--animation-duration) ease-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}