<article class="video-post">
  <div class="video-post__box">
    <img class="video-post__image blog__cover-img" src="img/blog-video.jpg" alt="">
    <a class="video-post__popup-play popup-play" data-graph-path="first" data-src="https://www.youtube.com/embed/EUhIIbiFrCs">
      <img class="video-post__popup-btn" src="img/play-button.svg" alt="Запустить видео о нашей компании">
    </a>
  </div>
  <div class="video-post__info blog__info">
    <span class="blog__info-date">August 12, 2020</span> | 
    <a class="blog__info-author" href="">by Lux Morningstar</a> | 
    <a class="blog__info-theme" href="">Design</a>
  </div>
  <a class="blog__link" href="/blog-single.html">
    <h3 class="video-post__title blog__cover-title">Authentic kogi shabby chic</h3>
  </a>
</article>