<article class="slider-post">
  <div class="swiper-container slider-post__box">
    <div class="swiper-wrapper slider-post__wrapper">
      <div class="swiper-slide slider-post__item">
        <img class="slider-post__image" src="img/blog-slider.jpg" alt="">
      </div>
      <div class="swiper-slide slider-post__item">
        <img class="slider-post__image" src="img/blog-slider.jpg" alt="">
      </div>
      <div class="swiper-slide slider-post__item">
        <img class="slider-post__image" src="img/blog-slider.jpg" alt="">
      </div>
    </div>
    <div class="slider-post__box-arrow slider-post__box-arrow--prev">
      <svg class="slider-post__box-arrow-icon">
        <use xlink:href="img/sprite.svg#pagination-arrow">
      </svg>
    </div>
    <div class="slider-post__box-arrow slider-post__box-arrow--next">
      <svg class="slider-post__box-arrow-icon">
        <use xlink:href="img/sprite.svg#pagination-arrow">
      </svg>
    </div>
  </div>
  <div class="slider-post__info blog__info">
    <span class="blog__info-date">August 18, 2020</span> | 
    <a class="blog__info-author" href="">by Ann Summers</a> | 
    <a class="blog__info-theme" href="">Table Furniture</a>
  </div>
  <a class="blog__link" href="/blog-single.html">
    <h3 class="slider-post__title blog__cover-title">Semiotics fixie four dollar toast, next level woke</h3>
  </a>
  <p class="slider-post__text blog__cover-text">Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table</p>
</article>