<aside class="blog__aside aside">
  <form class="aside__search">
    <input class="aside__search-input" type="text" placeholder="Search">
    <button class="aside__search-button">
      <svg class="aside__search-icon">
        <use xlink:href="img/sprite.svg#search">
      </svg>
    </button>
  </form>
  <div class="aside__category">
    <h6 class="aside__category-title aside__title">Category</h6>
    <ul class="aside__category-list">
      <li class="aside__category-item">
        <a class="aside__category-link" href="#">Dining room (1)</a>
      </li>
      <li class="aside__category-item">
        <a class="aside__category-link" href="#">Office furniture (12)</a>
      </li>
      <li class="aside__category-item">
        <a class="aside__category-link" href="#">Simple interiror design (2)</a>
      </li>
      <li class="aside__category-item">
        <a class="aside__category-link" href="#">Design (4)</a>
      </li>
      <li class="aside__category-item">
        <a class="aside__category-link" href="#">Bedroom Furniture (1)</a>
      </li>
    </ul>
  </div>
  <div class="aside__recent">
    <h6 class="aside__recent-title aside__title">
      Recent Posts
    </h6>
    <ul class="aside__recent-list">
      <li class="aside__recent-post">
        <a class="aside__recent-post-title" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
        <span class="aside__recent-post-date">August 10, 2020 |</span> 
        <a class="aside__recent-post-author" href="#">by Ann Summers</a>
      </li>
      <li class="aside__recent-post">
        <a class="aside__recent-post-title" href="#">Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth</a>
        <span class="aside__recent-post-date">September 30 ,2020 |</span>
        <a class="aside__recent-post-author" href="#">by Ann Summers</a>
      </li>
      <li class="aside__recent-post">
        <a class="aside__recent-post-title" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
        <span class="aside__recent-post-date">May 2, 2020 |</span>
        <a class="aside__recent-post-author" href="#">by Ann Summers</a>
      </li>
    </ul>
  </div>
  <div class="aside__tags">
    <h6 class="aside__tags-title aside__title">Tags</h6>
    <a class="aside__tags-item" href="#">Dining room futniture</a>
    <a class="aside__tags-item" href="#">Chair</a>
    <a class="aside__tags-item" href="#">Table</a>
    <a class="aside__tags-item" href="#">Bedroom</a>
    <a class="aside__tags-item" href="#">Office Furniture</a>
  </div>
  <ul class="aside__social">
    <li class="aside__social-item">
      <a href="#" class="aside__social-link">
        <svg class="aside__social-icon">
          <use xlink:href="img/sprite.svg#facebook-icon">
        </svg>
      </a>
    </li>
    <li class="aside__social-item">
      <a href="#" class="aside__social-link">
        <svg class="aside__social-icon">
          <use xlink:href="img/sprite.svg#instagram-icon">
        </svg>
      </a>
    </li>
    <li class="aside__social-item">
      <a href="#" class="aside__social-link">
        <svg class="aside__social-icon">
          <use xlink:href="img/sprite.svg#pinterest-icon">
        </svg>
      </a>
    </li>
    <li class="aside__social-item">
      <a href="#" class="aside__social-link">
        <svg class="aside__social-icon">
          <use xlink:href="img/sprite.svg#whatsapp-icon">
        </svg>
      </a>
    </li>
    <li class="aside__social-item">
      <a href="#" class="aside__social-link">
        <svg class="aside__social-icon">
          <use xlink:href="img/sprite.svg#youtube-icon">
        </svg>
      </a>
    </li>
  </ul>
</aside>