<article class="excerpt post-single">
  <img class="excerpt__img blog__cover-img" src="img/blog-excerpt.jpg">
  <div class="excerpt__info blog__info">
    <span class="blog__info-date">August 15, 2020</span> |
    <a class="blog__info-author" href="">by Ann Summers</a> |
    <a class="blog__info-theme" href="">Bedroom Furniture</a>
  </div>
  <a class="blog__link" href="/blog-single.html">
    <h3 class="excerpt__title blog__cover-title">Red selfies edison bulb four dollar toast humblebrag for the furniture</h3>
  </a>
  <div class="post-single__text">
    <p>
      Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
      <br>
      Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg austin edison bulb cloud bread vegan street art. Locavore food truck trust fund palo santo asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.
    </p>
    <blockquote>
      “Simplicity is not the goal. It is the by-product of a good idea and modest expectations”
      <div class="excerpt__blockquote-author">Paul Rand</div>
    </blockquote>
    <p>
      Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
      <br>
      Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg austin edison bulb cloud bread vegan street art. Locavore food truck trust fund palo santo asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.
    </p>
    <div class="post-single__tags">
      <h4 class="post-single__tags-title post-single__title">Tags</h4>
      <a href="#" class="post-single__tags-link">Bedroom furniture</a>
      <a href="#" class="post-single__tags-link">Office furniture</a>
      <a href="#" class="post-single__tags-link">Dining room futniture</a>
      <a href="#" class="post-single__tags-link">Chair</a>
    </div>
    <div class="post-single__changer">
      <a href="#" class="post-single__changer-link post-single__changer-link--prev">Cred selfies edison bulb four dollar toast humblebrag</a>
      <a href="#" class="post-single__changer-link post-single__changer-link--next">Semiotics fixie four dollar toast, next level</a>
    </div>
  </div>
  <div class="post-single__comments">
    <h4 class="post-single__comments-title post-single__title">Comments:</h4>
    <div class="post-single__comments-item">
      <img src="img/post-single__avatar.jpg" alt="avatar" class="post-single__comments-avatar">
      <div class="post-single__comments-info">
        <p class="post-single__comments-name">Lea Brown</p>
        <p class="post-single__comments-date">August 12, 2020</p>
        <p class="post-single__comments-text">Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
      </div>
      <button class="post-single__comments-reply">Reply</button>
    </div>
  </div>
  <form class="post-single__form">
    <h4 class="post-single__form-title post-single__title">Post a Comment</h4>
    <textarea class="post-single__form-textarea" placeholder="Your comment"></textarea>
    <input type="name" class="post-single__form-input" placeholder="Your name">
    <input type="email" class="post-single__form-input" placeholder="Your e-mail">
    <label class="post-single__form-label">
      <input class="post-single__form-label-input" type="checkbox">
      Remember me
    </label>
    <button class="post-single__form-button" type="submit">Submit</button>
  </form>
</article>