<section class="collection">
  <div class="container-fluid collection__container">
    <h3 class="collection__title">Furniture new collection</h3>
    <p class="collection__descr">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint</p>
    <div class="collection__feed feed">
      <a class="feed__item" href="#">
        <img class="feed__img" src="img/collection-1.png" alt="">
        <div class="feed__info">
          <h6 class="feed__info-title">
            Truffaut literally trust
          </h6>
          <div class="feed__info-text">
            Living room furntiture | Chair
          </div>
        </div>
      </a>
      <a class="feed__item" href="#">
        <img class="feed__img" src="img/collection-2.png" alt="">
        <div class="feed__info">
          <h6 class="feed__info-title">
            Truffaut literally trust
          </h6>
          <div class="feed__info-text">
            Living room furntiture | Chair
          </div>
        </div>
      </a>
      <a class="feed__item" href="#">
        <img class="feed__img" src="img/collection-3.png" alt="">
        <div class="feed__info">
          <h6 class="feed__info-title">
            Truffaut literally trust
          </h6>
          <div class="feed__info-text">
            Living room furntiture | Chair
          </div>
        </div>
      </a>
      <a class="feed__item" href="#">
        <img class="feed__img" src="img/collection-4.png" alt="">
        <div class="feed__info">
          <h6 class="feed__info-title">
            Truffaut literally trust
          </h6>
          <div class="feed__info-text">
            Living room furntiture | Chair
          </div>
        </div>
      </a>
      <a class="feed__item" href="#">
        <img class="feed__img" src="img/collection-5.png" alt="">
        <div class="feed__info">
          <h6 class="feed__info-title">
            Truffaut literally trust
          </h6>
          <div class="feed__info-text">
            Living room furntiture | Chair
          </div>
        </div>
      </a>
    </div>
  </div>
</section>