<section class="contact">
  <div class="container contact__container">
    <h3 class="contact__title">
      Contact Us
    </h3>
    <div class="contact__wrapper">
      <ul class="contact__social">
        <li class="contact__social-item">
          <a href="#" class="contact__social-link">
            <svg class="contact__social-icon">
              <use xlink:href="img/sprite.svg#facebook-icon">
            </svg>
          </a>
        </li>
        <li class="contact__social-item">
          <a href="#" class="contact__social-link">
            <svg class="contact__social-icon">
              <use xlink:href="img/sprite.svg#instagram-icon">
            </svg>
          </a>
        </li>
        <li class="contact__social-item">
          <a href="#" class="contact__social-link">
            <svg class="contact__social-icon">
              <use xlink:href="img/sprite.svg#pinterest-icon">
            </svg>
          </a>
        </li>
        <li class="contact__social-item">
          <a href="#" class="contact__social-link">
            <svg class="contact__social-icon">
              <use xlink:href="img/sprite.svg#whatsapp-icon">
            </svg>
          </a>
        </li>
        <li class="contact__social-item">
          <a href="#" class="contact__social-link">
            <svg class="contact__social-icon">
              <use xlink:href="img/sprite.svg#youtube-icon">
            </svg>
          </a>
        </li>
      </ul>
      <p class="contact__text">Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock</p>
      <a href="tel:+14158297934" class="contact__phone">(415) 829-7934</a>
      <div class="contact__street">725 Green St</div>
      <div class="contact__city">San Francisco, California(CA), 94133</div>
      <a href="mailto:ouremailaddress@email.com" class="contact__email">
        <svg class="contact__email-icon">
          <use xlink:href="img/sprite.svg#email-icon">
        </svg>
        ouremailaddress@email.com
      </a>
      <form class="contact__form">
        <input class="contact__form-input" type="text" placeholder="Your name">
        <input class="contact__form-input" type="email" placeholder="Your e-mail">
        <textarea class="contact__form-area" placeholder="Your message"></textarea>
        <button class="contact__form-button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
