<div class="gallery gallery-page">
  <div class="container-fluid gallery__container">
    <div class="gallery__buttons">
      <button class="gallery__button" data-filter=".category-bedroom">Bedroom furniture</button>
      <button class="gallery__button" data-filter=".category-living">Living room furniture</button>
      <button class="gallery__button" data-filter=".category-office">Office furniture</button>
      <button class="gallery__button" data-filter=".category-dining">Dining room futniture</button>
      <button class="gallery__button" data-filter=".category-chair">Chair</button>
    </div>
    <div class="gallery__wrapper">
      <div class="gallery__category mix category-bedroom">
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
      </div>
      <div class="gallery__category mix category-living">
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
      </div>
      <div class="gallery__category mix category-office">
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
      </div>
      <div class="gallery__category mix category-dining">
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
      </div>
      <div class="gallery__category mix category-chair">
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery1.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery2.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery3.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery4.jpg" alt="">
        </a>
        <a href="#" class="gallery__item">
          <img src="img/gallery5.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
