<section class="hero">
  <div class="container-fluid hero__container">
    <div class="swiper-container hero__slider">
      <div class="swiper-wrapper hero__slider-wrapper">
        <div class="swiper-slide hero__slider-item">
          <img class="hero__slider-img" src="img/slider-img.png" alt="image">
          <div class="hero__slider-content">
            <h2 class="hero__slider-title">Furniture collection1</h2>
            <p class="hero__slider-text">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint            </p>
          </div>
        </div>
        <div class="swiper-slide hero__slider-item">
          <img class="hero__slider-img" src="img/slider-img.png" alt="image">
          <div class="hero__slider-content">
            <h2 class="hero__slider-title">Furniture collection2</h2>
            <p class="hero__slider-text">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint            </p>
          </div>
        </div>
        <div class="swiper-slide hero__slider-item">
          <img class="hero__slider-img" src="img/slider-img.png" alt="image">
          <div class="hero__slider-content">
            <h2 class="hero__slider-title">Furniture collection3</h2>
            <p class="hero__slider-text">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>