<section class="mini-blog">
  <div class="container mini-blog__container">
    <h3 class="mini-blog__title">
      More inspiration ideas in our blog
    </h3>
    <div class="mini-blog__items">
      <div class="mini-blog__item">
        <a class="mini-blog__img-link" href="#">
          <img class="mini-blog__img" src="img/blog-1.jpg" alt="blog img">
        </a>
        <div class="mini-blog__links">
          <span class="mini-blog__date">March 12, 2020</span> |
          <a href="#" class="mini-blog__author">by Ann Summers</a> |
          <a href="#" class="mini-blog__theme">Inrerior </a>
        </div>
        <a href="" class="mini-blog__item-link">
          <h4 class="mini-blog__item-title">Listicle actually selvage activated charcoal for the drinking vinegar</h4>
        </a>
      </div>
      <div class="mini-blog__item">
        <a class="mini-blog__img-link" href="#">
          <img class="mini-blog__img" src="img/blog-2.jpg" alt="blog img">
        </a>
        <div class="mini-blog__links">
          <span class="mini-blog__date">September 28,2020</span> |
          <a href="#" class="mini-blog__author">by Finnagan Morningstar</a> |
          <a href="#" class="mini-blog__theme">Dining room interior</a>
        </div>
        <a href="" class="mini-blog__item-link">
          <h4 class="mini-blog__item-title">Red selfies edison bulb four dollar toast humblebrag</h4>
        </a>
      </div>
    </div>
  </div>
</section>