<section class="partners">
  <div class="container-fluid partners__container">
    <div class="partners__items">
      <img class="partners__item" src="img/partner-1.svg" alt="Partner 1">
      <img class="partners__item" src="img/partner-2.svg" alt="Partner 2">
      <img class="partners__item" src="img/partner-1.svg" alt="Partner 1">
      <img class="partners__item" src="img/partner-2.svg" alt="Partner 2">
      <img class="partners__item" src="img/partner-1.svg" alt="Partner 1">
    </div>
  </div>
</section>
<div class="container-fluid about__collection">
  <div class="collection__feed feed">
    <a class="feed__item" href="#">
      <img class="feed__img" src="img/collection-6.png" alt="">
      <div class="feed__info">
        <h6 class="feed__info-title">
          Truffaut literally trust
        </h6>
        <div class="feed__info-text">
          Living room furntiture | Chair
        </div>
      </div>
    </a>
    <a class="feed__item" href="#">
      <img class="feed__img" src="img/collection-7.png" alt="">
      <div class="feed__info">
        <h6 class="feed__info-title">
          Truffaut literally trust
        </h6>
        <div class="feed__info-text">
          Living room furntiture | Chair
        </div>
      </div>
    </a>
    <a class="feed__item" href="#">
      <img class="feed__img" src="img/collection-8.png" alt="">
      <div class="feed__info">
        <h6 class="feed__info-title">
          Truffaut literally trust
        </h6>
        <div class="feed__info-text">
          Living room furntiture | Chair
        </div>
      </div>
    </a>
    <a class="feed__item" href="#">
      <img class="feed__img" src="img/collection-9.png" alt="">
      <div class="feed__info">
        <h6 class="feed__info-title">
          Truffaut literally trust
        </h6>
        <div class="feed__info-text">
          Living room furntiture | Chair
        </div>
      </div>
    </a>
    <a class="feed__item" href="#">
      <img class="feed__img" src="img/collection-10.png" alt="">
      <div class="feed__info">
        <h6 class="feed__info-title">
          Truffaut literally trust
        </h6>
        <div class="feed__info-text">
          Living room furntiture | Chair
        </div>
      </div>
    </a>
  </div>
</div>
