<section class="timeline">
  <div class="container timeline__container">
    <h3 class="timeline__title">
      How it works
    </h3>
    <div class="timeline__items">
      <div class="timeline__items-box">
        <div class="timeline__item timeline__item--consultation">
          <svg class="timeline__item-icon">
            <use xlink:href="img/sprite.svg#timeline-icon-1">
          </svg>
          <h6 class="timeline__item-title">Designer Consultation</h6>
          <p class="timeline__item-text">Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
        </div>
        <div class="timeline__item timeline__item--production">
          <svg class="timeline__item-icon">
            <use xlink:href="img/sprite.svg#timeline-icon-2">
          </svg>
          <h6 class="timeline__item-title">Production</h6>
          <p class="timeline__item-text">Everyday carry actually neutra authentic kogi shabby chic</p>
        </div>
      </div>
      <div class="timeline__item timeline__item--measurements">
        <svg class="timeline__item-icon">
          <use xlink:href="img/sprite.svg#timeline-icon-3">
        </svg>
        <h6 class="timeline__item-title">Measurements</h6>
        <p class="timeline__item-text">Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
      </div>
    </div>
  </div>
</section>
